.y-tabs {
    display: flex;
    flex-direction: column;
}

.y-tabs__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.y-tabs__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.y-tabs__header__item {
    margin-right: 5px;
    text-underline-offset: 10px;
}

.y-tabs__header__item:hover {
    text-decoration: underline;
    cursor:pointer;
    
}

.y-tabs__header__item.selected {
    text-decoration: underline;
    text-decoration-color: red;
    
}