
#root {
  max-width: 1280px;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-row {
  border: solid 1px wheat;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
}

.rating-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}